<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
     footer {
  background-color: #c5c1c1; /* Еле заметный серый фон */
  padding-top: 20px;
  color: #343a40;
}

footer h5 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

footer p {
  font-size: 0.875rem;
  color: #6c757d;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer ul li {
  margin-bottom: 0.5rem;
}

footer ul li a {
  color: #343a40;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer .fa {
  margin-right: 0.5rem;
}

footer .text-center a {
  color: #343a40;
}

footer .text-center a:hover {
  color: #007bff;
}

.footer-bottom {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}

    </style>
</head>
<body>
    <footer class="footer text-center text-lg-start">
        <div class="container p-4">
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Библиотека Аалто</h5>
              <h5>
                Библиотека Аалто в городе Выборг — одно из самых значительных произведений архитектора Алвара Аалто.
              </h5>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Навигация</h5>
              <ul class="list-unstyled mb-0">
                <li><a href="/index" class="text-dark">Главная</a></li>
                <li><a href="/catalog" class="text-dark">Каталог</a></li>
                <li><a href="/about" class="text-dark">О нас</a></li>
                <li><a href="/findus" class="text-dark">Где нас найти?</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Контакты</h5>
              <ul class="list-unstyled mb-0">
                <li><i class="fa fa-map-marker" aria-hidden="true"></i> Улица Суворова, 4, Выборг, Россия</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i> +7 (81378) 2-21-98</li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i> info@aalto-library.ru</li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      
      
      
</body>
</html>