<style>  body {
  background-color: #f5f5f5;
}

.navbar-brand {
  color: #153070;
}

.nav-item a {
  color: #8A8A8A;
}

.nav-item a:hover {
  color: #153070;
  font-weight: bold;
}

.product-card {
  margin-top: 50px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #153070;
}

.card-text {
  color: #8A8A8A;
  margin-top: 10px;
}

.btn-book {
  background-color: #153070;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  font-weight: bold;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.btn-book:hover {
  background-color: #091e42;
  
}
  p.nav-link:hover{
    color: #153070;
  font-weight: bold;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light " >
  <div class="container">
    <img src="https://kappa.lol/f9WfP"  style="width: 11%;">
    <a class="navbar-brand" href="#">Библиотека Аалто</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="./index">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./catalog">Каталог</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./about">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./findus">Где нас найти?</a>
        </li>
        <li class="nav-item">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <div class="social-network pt-2">

            </div>
            <li class="nav-item dropdown">
             <p href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"><%= locals.user.name %></p>
              <ul class="dropdown-menu" aria-labelledy="navbarDropdown">
                <li class="text-center"><% if(locals.user) { %>  
                  <%= locals.user.name %>
                <% } %></li>
                <li class="drop-down">
                  <h4><a class="badge rounded-pill" href="../profile"><i class="fa-regular fa-user m-1"></i>Профиль</a></h4>
                </li>
                <li class="drop-down">
                  <h4><a class="badge rounded-pill" href="/logout"><i class="fa-solid fa-right-from-bracket m-1"> </i>Выйти</a></h4>
                </li>
              </ul>
            </li>
          </ul>
          
            
          
        </li>
      </ul>
    </div>
  </div>
</nav>
