<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <script src="https://kit.fontawesome.com/5833c2855b.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/register.css" />
</head>
<body>

<section class="register-content">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 text-center">
                <h2>Регистрация</h2>
                <p>Зарегистрируйтесь, чтобы видеть статусы ваших заявок и многое другое.</p>
                <img src="https://teletype.in/files/22/d6/22d6b49f-9c3c-42d6-992a-73e902c83871.png" class="img-fluid" alt="Регистрация">
            </div>
            <div class="col-md-6">
                <form method="post" action="/register" class="p-3">
                    <div class="mb-3">
                        <img src="https://kappa.lol/f9WfP" style="width: 220px" />
                    </div>
                    <div class="mb-3">
                      <label for="name"> Имя:</label>
                        <input type="text" id="name" name="name" placeholder="Имя" class="form-control" required>
                    </div>
                    <div class="mb-3">
                      <label for="email"> Email:</label>
                        <input type="email" id="email" name="email" placeholder="Email" class="form-control" required>
                        <input type="hidden" name="recipientEmail" id="recipientEmail" value="">
                        <% if (locals.errors && locals.errors.email) { %>
                        <div class="text-bg-light" id="error-message">
                            <h5 style="color: rgb(43, 92, 184); font-size: 18px"><%= locals.errors.email.msg2 %></h5>
                        </div>
                        <% } %>
                    </div>
                    <div class="mb-3">
                      <label for="age"> Возраст:</label>
                        <input type="number" name="age" id="age" class="form-control" placeholder="Возраст" required>
                    </div>
                    <div class="mb-3">
                      <label for="password"> Пароль:</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" pattern=".{8,}" required>
                        <% if (locals.errors && locals.errors.password) { %>
                        <div class="text-bg-light" id="error-message">
                            <h5 style="color: rgb(43, 92, 184); font-size: 18px"><%= locals.errors.password.msg %></h5>
                        </div>
                        <% } %>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                    </div>
                    <div class="mb-3">
                        <a href="/auth/yandex"><img src="/uploads/yandex.png" class="social-icon" style="width: 10%;"></a>
                        <a href="/auth/google"><img src="/uploads/google.png" class="social-icon"style="width: 10%;"></a>
                        <a href="/auth/github"><img src="/uploads/github.png" class="social-icon"style="width: 10%;"></a>
                        <a href="/auth/vkontakte"><img src="/uploads/vk.png" class="social-icon"style="width: 10%;"></a>
                    </div>
                    <div class="mb-3">
                        <a href="login" class="text-center text-decoration-none">Уже зарегистрированны? Войти</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer><%- include('./partials/footer')%></footer>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const emailField = document.getElementById("email");
        const recipientEmailField = document.getElementById("recipientEmail");
        emailField.addEventListener("input", function() {
            recipientEmailField.value = emailField.value;
        });
    });
</script>

</body>
</html>
